@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Message</h1>
</hgroup>
<div class="row">
    <div class="span3">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#">About the Company</a></li>
            <li><a href="#">About the Projects</a></li>
            <li><a href="#">About the Team</a></li>
        </ul>
    </div>
    <div class="span6">
        <h3 class="underline-thin">About the Company</h3>
        <p>SteamHatch Studios started as a vision between three friends to create kickass apps and games. We strive to achieve 
            this lofty goal by always growing as a company and as developers. We want to make high-quality and appealing products
        </p>
    </div>
</div>