@{
    ViewBag.Title = "Home Page";
}

<div>
    <img class="centered" src="http://placehold.it/800x200">
</div>

<div>
    <h4 style="text-align: center;">Welcome! Come and get to know us!</h4>
</div>
